@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.footer {
  @apply w-full;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Webkit browsers */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.logo {
  @apply text-2xl font-normal leading-none font-logo;
}

.bio {
  @apply text-xl font-normal leading-none;
}

.navActive {
  @apply text-3xl font-semibold;
}

.navInActive {
  @apply text-3xl font-semibold text-neutral-400 transition ease-in-out hover:text-black;
}

.subNavActive {
  @apply text-xl;
}

.subNavInActive {
  @apply text-xl font-normal text-neutral-400 transition ease-in-out hover:text-black;
}

.socials {
  @apply text-base text-neutral-400 transition ease-in-out hover:text-black;
}

.titlePlatform {
  @apply font-bold;
}

/* Hide scrollbar while maintaining functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.animation-play-state-paused {
  animation-play-state: paused;
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(20px);
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

.blur-in {
  animation: blurIn 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
