@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.footer {
  @apply w-full;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Webkit browsers */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.logo {
  @apply text-lg sm:text-xl md:text-2xl font-black leading-none tracking-wider;
}

.bio {
  @apply text-base sm:text-lg md:text-xl font-normal leading-none;
}

.navActive {
  @apply text-xl sm:text-2xl md:text-3xl font-semibold;
}

.navInActive {
  @apply text-xl sm:text-2xl md:text-3xl font-semibold text-neutral-400 transition ease-in-out hover:text-black;
}

.subNavActive {
  @apply text-lg sm:text-xl;
}

.subNavInActive {
  @apply text-lg sm:text-xl font-normal text-neutral-400 transition ease-in-out hover:text-black;
}

.socials {
  @apply text-sm sm:text-base text-neutral-400 transition ease-in-out hover:text-black;
}

.titlePlatform {
  @apply font-bold;
}

/* Hide scrollbar while maintaining functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
